<div class="chatItem {{#if selected}}selected{{/if}}">
    <div class="chatItem__avatar"></div>
    <div class="chatItem__content">
        <div class="chatItem__header">
            <span class="chatItem__name">{{name}}</span>
            <div class="chatItem__infoPart">
                <span class="chatItem__time">{{time}}</span>
                <button class="chatItem__deleteBtn">
                    <span class="chatItem__deleteLine"></span>
                    <span class="chatItem__deleteLine"></span>
                </button>
            </div>
        </div>
        <div class="chatItem__body">
            <div class="chatItem__bodyText">
                {{#if isOwnMessage }}
                    <span class="chatItem__ownPrefix">Вы:</span>
                {{/if}}
                <span class="chatItem__text">{{text}}</span>
            </div>
            {{#if count }}
                <div class="chatITem__unreadCount">{{count}}</div>
            {{/if}}
        </div>
    </div>
</div>