<div class="test">
<!--    <div class="inside">-->
<!--        {{> ChatItem name="Вася" time="Вчера" text=" hello wrohello wasdfa sdroldhasdfasdello wroldld"  isOwnMessage=true }}-->

<!--    </div>-->
<!--&lt;!&ndash;    {{> Menu}}&ndash;&gt;-->

<!--    <div class="chatListt">-->
<!--        {{> ChatList }}-->
<!--    </div>-->
    <div>
        {{> TextField }}
    </div>
</div>